@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

::-webkit-scrollbar{
   width: 10px;
   color: white;
   scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {

    background: black;
  }


.navbar a{
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 1vw;
}

.navbar{
    padding: 0px 80px 0px 80px;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    position: sticky;

}

.first h1{
    font-size: 4vw;
    font-weight: 600;
    margin: 30px;
    opacity: 0;
    animation: appear 1s forwards 0.5s;
}

.first h2{
    font-size: 1.5vw;
    font-weight: 300;
    opacity: 0;
    animation: appear 1s forwards 1.5s;

}

.first h3{
    font-size: 1vw;
    font-weight: 300;
    position: absolute;
    bottom: 0%;
    opacity: 0;
    animation: appear 1s alternate infinite 3s;
}

.hello{
    animation: hii 1s alternate infinite;
}

@keyframes hii{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(90deg);
    }
}

@keyframes appear{
   0%{
       opacity: 0;
   }
    100%{
        opacity: 1;
    }
}


.graphic img{
    width: 100%;
}

.graphic, .content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.row{
    height: 100vh;
}

.content{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}



