@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;700;800;900&display=swap');

*{  
    padding: 0px;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: black;
    padding-left: 12vw;
    padding-right: 12vw;
}
.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.countdown{
    width: 50%;
    display: flex;
    justify-content: space-around;
    text-align: center;
   
}
.days, .hours, .minutes, .seconds {
    font-size: 6vh;
}
.day, .hour, .minute, .second{
    padding: 4vh;
}

.nave{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1vw;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.logo, .name, .Abt {
    font-size: 1.5vh;
    
}
.sec1{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.circle{
    border: 20px;
    border-style: solid;
    width:  25vw;
    height: 25vw;
    border-radius: 60rem;
    animation: loop 1s forwards infinite ;
    position: absolute;
}

.mee{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: absolute;
  margin-right: 1vw;
  margin-bottom: 1vw;

}

.headname{
    display: flex;
    width: 75%;
    font-size: 9vw;
    font-style: italic;
    font-weight: bolder;
    margin: -2vw;
    z-index: 1;
}

.fn{
    color: rgb(145, 61, 100);
}

.mn{
    justify-content: center;
    color: white;
    z-index: 3;
    font-size: 4vw;
}

.ln{
    justify-content: right;
    margin-left: 1vw;
    color: rgb(123, 204, 212);
}

@keyframes loop {
    0% {
        transform: scale(0%);
        opacity: 100%;
    }
   
    100% {
        transform: scale(100%);
        opacity: 0%;
    }
}

.cell{
   background-color: rgb(242, 242, 242);
   margin: 0.5vw;
   box-shadow: 3px 3px 15px #aaaaaa;
   border-radius: 2vw;
   display: flex;
   justify-content: center;
   overflow: hidden;
   flex-direction: column;
   padding-top: 3vw;
   height: 50%;
   padding: 2vw;
}

.title{
    color: grey;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;

}

.main{
    font-size: 6vw;
    text-transform: uppercase;
    font-family: 'Orbitron', sans-serif;
}

.skills img{
width: 10%;

}

.skills{
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    background-color: #aaaaaa;
    
}
