@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-x: hidden;
    scrollbar-width: 0px;
}

.first{
    overflow-y: hidden;
    display: flex;
    height: 95vh;
    width: 95vw;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    position: absolute;
    background-color: white;
    transition: opacity 1s ease 3s;
    opacity: 0;
    animation: appear 3s ;
    z-index: -2;
 
    
}
.big-text{
  
      animation-direction: alternate;
}

@keyframes appear {
    0%{
        opacity: 0;
    }

    50%{
        opacity: 100;
    }

    100%{
        opacity: 0;
    }
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1vw;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    width: 99.5%;
    transition: opacity 1s, ease 4s;
    opacity: 100;
    
}

.nav a{
    font-size: 1vw;
    margin: 0vw 2vw 0vw;
}


.works{
    width: 80%;
    height: 30vh;
    margin: 1.5vw;
    position: relative;
    border-radius: 20px;

}


.vid{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border-radius: 20px;

}
.pagee{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 6vw;
}

.heed{
    display: flex;
    font-size: 7vw;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: opacity 1s ease;
    z-index: 1;
    border-radius: 20px;
    padding: 0 30px 0;;
} 

.overlay:hover{
  
    opacity: 0.75;
    transition: opacity 0.25 ease;
}


.headingg{
    z-index: 4;
    position: absolute;
    height: 102%;
    width: 100%;
    background: #fff;
    mix-blend-mode: screen;
    font-size: 9vw;
    font-weight: 600;
}

@keyframes des {
    0%{
        overflow-y: hidden ;
    }

    100%{
        opacity: 100;
        overflow-y: visible;
    }
}

.content{
    z-index: 3;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.content h1{
    font-size: 2vw;
}
.content p{
    font-size: 1vw;
}

.content a{
    color: white;
    font-size: 1vw;
    font-weight: 500;
    justify-content: flex-end;
    margin-top: 2vw;
}

.work1{
    width: 70%;
}

.work1 img{
    width: 100%;
    box-shadow: inset;
}

