*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
img{
    width: 100%;
}

.top{
    position: absolute;
    background: url("/ekchaturnaar-03.jpg");
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 20vh;
}

.overlay{
position: absolute;
background-color: rgba(0, 0, 0, 0.25);
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
color: white;
}