@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    
    overflow: hidden;
    background-image: url("/blob-scene-haikei.svg");
    background-size: cover;
    color: white;
}

.pagee{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -2vw;
   
}

.blob{
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: -1;
    animation: anim 3s alternate infinite;
}
@keyframes anim{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(15deg);
    }
}

.nav{
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 0.85vw;
    align-items: center;
    font-weight: 400;
    z-index: 2;
    animation: appear 1s ease-in forwards;
}

@keyframes appear{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 100;
    }
}

.nav a{
    color: white;
    text-decoration: none;
}

.nav a:hover{
    color: white;
    transform: scale(120%);
    transition: scale, 1s ;
}


.pagee a{
    color: white;
    text-decoration: none;
}

.pagee a:hover{
    color: white;
}

.main{
    font-size: 7vw;
    font-weight: 300;
    font-style: italic;
}

.sub{
    color: rgb(141, 141, 141);
    font-size: 1vw;
    font-family: 'Poppins', sans-serif;
    margin-top: -1.5vw;
    font-weight: 500;
}

.type{
    margin-right: 25vw;
    z-index: 2;
}

.des{
    margin-left: 35vw;
    z-index: 4;
}

.phot{
    margin-right: 5vw;
    z-index: 2;
}

.profiles{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.github{
    align-items: center;
    position: relative;
    display: flex;
    justify-content: center;
    /* transform: rotate(-90deg); */
    animation: git 1s ease-in 2s forwards;
    justify-content: center;
    transform: translateX(-15vw);
    opacity: 0;
   
}

@keyframes git{
    0% {
        transform: rotate(0);

   
    }

    100%{
        transform: rotate(-90deg);
        opacity: 100;
    }
}

.linkin{
    align-items: center;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    margin-bottom: 3vw;
}

.behance{
    align-items: center;
    display: flex;
    justify-content: center;
    transform: rotate(90deg);
}

.profiles img{
    width: 20%;
    margin: 0.5vw;
}

