@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Poppins', sans-serif;
  color: white;
  overflow: hidden;
  min-height: 100vh;
}

.banner {
  background: url("/blob-scene-haikeii.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.logo, .name, .Abt {
  font-size: 1.5vh;
  margin: 8vh;
}

.name {
  font-size: 4vh;
  -webkit-animation: honesh 1.5s forwards 1s;
          animation: honesh 1.5s forwards 1s;
}

@-webkit-keyframes honesh {
  100% {
    font-size: 1.5vh;
  }
}

@keyframes honesh {
  100% {
    font-size: 1.5vh;
  }
}

.logo, .Abt {
  opacity: 0%;
  -webkit-animation: anim 4s forwards 2s;
          animation: anim 4s forwards 2s;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.Abt:hover, .logo:hover {
  -webkit-transform: scale(130%);
          transform: scale(130%);
}

.nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-animation: moveup 1.5s forwards 1s;
          animation: moveup 1.5s forwards 1s;
  height: 15vh;
  -webkit-transform: translateY(250%);
          transform: translateY(250%);
  padding: 0%;
  margin: 0;
}

.nav a {
  color: white;
  text-decoration: none;
}

@-webkit-keyframes moveup {
  100% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
}

@keyframes moveup {
  100% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
}

.bob {
  margin-left: 60vh;
  margin-top: 10vh;
  height: 60vh;
  width: 60vh;
  background: url("/blob-haikei.svg");
  background-size: 100%;
  background-attachment: fixed;
  background-position: -5vh 1.5vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  background-repeat: no-repeat;
  opacity: 0%;
  -webkit-animation: animate 3s forwards 2s;
          animation: animate 3s forwards 2s;
}

@-webkit-keyframes animate {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes animate {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@-webkit-keyframes anim {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes anim {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.headings {
  padding-left: 40vh;
  padding-top: 1vh;
  font-family: 'Montserrat', sans-serif;
}

.headings h1 {
  font-size: 9vh;
}

.headings a {
  text-decoration: none;
}

.headings a:visited {
  color: white;
}

.headings div {
  display: none;
  font-size: 2vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.type {
  margin-top: 1vh;
}

.des {
  margin-left: 69vh;
  margin-top: 5vh;
}

.photo {
  position: absolute;
  margin-top: 20vh;
  margin-left: 15vh;
}

.fade {
  position: relative;
  opacity: 0%;
  -webkit-transform: translateX(-3vh) translateY(-3vh);
          transform: translateX(-3vh) translateY(-3vh);
  -webkit-animation: appear 2s forwards normal 4s;
          animation: appear 2s forwards normal 4s;
}

@-webkit-keyframes appear {
  100% {
    opacity: 100%;
    -webkit-transform: translateX(3vh) translateY(3vh);
            transform: translateX(3vh) translateY(3vh);
  }
}

@keyframes appear {
  100% {
    opacity: 100%;
    -webkit-transform: translateX(3vh) translateY(3vh);
            transform: translateX(3vh) translateY(3vh);
  }
}

.social {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.25vh;
}

.social div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social a {
  text-decoration: none;
}

.social a:visited {
  color: white;
}

.github {
  -webkit-transform: translateX(-8vh);
          transform: translateX(-8vh);
  -webkit-animation: git 1s forwards 2s;
          animation: git 1s forwards 2s;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.github:hover {
  -webkit-transform: scale(140%);
          transform: scale(140%);
}

@-webkit-keyframes git {
  100% {
    -webkit-transform: rotate(-90deg) translateY(0vh);
            transform: rotate(-90deg) translateY(0vh);
  }
}

@keyframes git {
  100% {
    -webkit-transform: rotate(-90deg) translateY(0vh);
            transform: rotate(-90deg) translateY(0vh);
  }
}

.behance {
  position: fixed;
  left: 48%;
  bottom: 2%;
  -webkit-transform: translateY(5vh);
          transform: translateY(5vh);
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-animation: beh 1s forwards 2s;
          animation: beh 1s forwards 2s;
}

@-webkit-keyframes beh {
  100% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
}

@keyframes beh {
  100% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
}

.linkedin {
  -webkit-transform: translateX(8vh);
          transform: translateX(8vh);
  -webkit-animation: lin 1s forwards 2s;
          animation: lin 1s forwards 2s;
}

@-webkit-keyframes lin {
  100% {
    -webkit-transform: rotate(90deg) translateY(0vh);
            transform: rotate(90deg) translateY(0vh);
  }
}

@keyframes lin {
  100% {
    -webkit-transform: rotate(90deg) translateY(0vh);
            transform: rotate(90deg) translateY(0vh);
  }
}
/*# sourceMappingURL=index.css.map */