$darkcolor : #001829;
$lightcolor : #297EA6;
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{
    margin: 0px;
    padding: 0px;
    
}

body{
    font-family: 'Poppins', sans-serif;
    color: white;
    overflow-y: hidden;
    min-height: 100vh;
}

.banner {
    background: url("/blob-scene-haikeii.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

.logo, .name, .Abt {
    font-size: 1.5vh;
    margin: 8vh;
    
}

.name{
    font-size: 4vh;
    animation: honesh 1.5s forwards 1s;
}

@keyframes honesh {

    100%{
        font-size: 1.5vh;
    }
}

.logo, .Abt {
    opacity : 0%;
    animation: anim 4s forwards 2s;
    transition: all 0.5s ease-in-out;
}


.Abt:hover, .logo:hover {
    transform: scale(130%);
    
}

.nav{
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
    animation: moveup 1.5s forwards 1s ;
    height: 15vh;
    transform: translateY(250%);
    padding: 0%;
    margin: 0;
    a{
        color: white;
        text-decoration: none;
    }

  
}

@keyframes moveup{
    100% {
        transform: translateY(-20%);
    }
}
.bob{
    margin-left: 60vh;
    margin-top: 10vh;
    height: 60vh;
    width: 60vh;
    background: url('/blob-haikei.svg');
    background-size: 100%;
    background-attachment: fixed;
    background-position: -5vh 1.5vh;
   
    align-items: center;
    position: absolute;
    background-repeat: no-repeat;
    opacity: 0%;
    animation:  animate 3s forwards 2s;
    
}

@keyframes animate {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

@keyframes anim {
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}
/*
.tex{
    position: absolute;
    top: 15%;
    color: white;
    left: 30%;
    width: 45%;
    display: flex;

    h1{
        font-size: 5rem;
        margin-top: 5vh;
    }

    .des {
        float: right;
    }
}*/

.headings{
    padding-left: 40vh;
    padding-top: 1vh;
    font-family: 'Montserrat', sans-serif;
    
    h1{
        font-size: 9vh;
    }

    a{
        text-decoration: none;
        
    }

    a:visited{
        color: white;
    }

  /*  span{
        opacity: 0;
        transition: all 1s ease 4s;
    }

    span.fade{
        opacity: 1;
    }*/
    
}
.type{
    margin-top: 1vh;
}
.des{
    margin-left: 69vh;
    margin-top: 5vh;
}

.photo{
    position: absolute;
    margin-top: 20vh;
    margin-left: 15vh;
}


.fade{
    position: relative;
    opacity: 0%;
    transform: translateX(-3vh) translateY(-3vh);
    animation: appear 2s forwards normal 4s
}

@keyframes appear {
  
    100% {
        opacity: 100%;
        transform: translateX(3vh) translateY(3vh);
    }
}

.github{
    outline: 2px solid;
    transform: rotate(90deg);
    left: 0%;
    position: absolute;
    display: flex;
    
}