@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    
    overflow: hidden;
    background-image: url("/blob-scene-haikei.svg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 105vh;
    width: 100vw;
}

.nav{
    font-size: 2vw;
}

.sign{
    width: 200%;
}

.pagee{
    height: 105vh;

}