@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}




body{
    margin: 3rem;
    background: url('/blob-scene-haikei.svg');
    background-attachment: fixed;
    background-size: cover;
   overflow: hidden;

}

.page{
    min-height: 100vh;
    position: relative;

}
.nave{
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
   padding: 2vw;
}

.nave img{
    width: 3vw;
}
.nave h1{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 0.75vw;
    text-decoration: none;
    text-transform: uppercase;
}

.bob{
    width: 100%;
    position: absolute;
    z-index: -1;
    animation: anim 3s alternate infinite;
}
@keyframes anim{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(15deg);
    }
}
.big-text{
    font-size: 7vw;
    font-family: 'Dosis', sans-serif;

}

.type{
    padding-left: 30vw;
}

.des{
    padding-left: 62vw;
}
.phot{
    padding-left: 20vw;
    
}

a {
    text-decoration: none;
 }
 a:hover{ 
     color: chartreuse;
 }
 a:visited{
     color: white;
 }


/* @media (max-width: 30rem){
    .bob{
        width: 200%;
        margin-top: 20vh;
    }
} */
.profiles{
    display: flex;
    position: fixed;
    justify-content: space-between;
    top: 50%;
}
.links{
    display: flex;
    align-content: center;
    color: white;
    justify-content: center;
    /* transform: rotate(90deg) translateY(45vw) translateX(-40vw); */
}

.github{
    transform: rotate(90deg);
}

.linkin{
    transform: rotate(-90deg);
}


.links img{
    width: 1vw;
}

.sml-link{
    font-size: 0.75vw;
}

.small-text{
    font-size: 1.25vw;
}

@media only screen and (orientation: portrait) {
    .bob{
        width: 250%;
        margin-top: 12vw;
        margin-left: -120vw;
    }

    .big-text{
        font-size: 15vw;
    }

    .small-text{
        font-size: 3vw;
    }
    .container-fluid{
        text-align: center;
    }

    .type, .des, .phot{
        padding-left: 0;
    }
}